@import "~@lkmx/flare/src/flare";

$dark-gray-color: #1B1B1B;

:root {
    --f-header-text-color: white;
    --f-header-background-color: black;

    --f-default-text-color: white;

    --f-h1-text-size: 32px;
    --f-h2-text-size: 26px;


    --f-links-text-hover-color: #4195c4;
    --f-links-text-visited-color: #f4d22a;
    --f-links-text-active-color: #d53a2c;
}

html {
    background-color: $dark-gray-color;
}


.--flare {

}