@import "~@lkmx/flare/src/flare";

$dark-gray-color: #1B1B1B;

:root {
    --f-header-text-color: white;
    --f-header-background-color: black;

    --f-default-text-color: white;

    --f-h1-text-size: 32px;
    --f-h2-text-size: 26px;
}

html {
    background-color: $dark-gray-color;
}


.--flare {

}