@import "~@lkmx/flare/src/flare";


$color-black: #1B1B1B;

$color-purple-primary: #5f5f6B;
$color-orange-primary:  #EA7534;
$color-cream-primary: #E5C7A3;
$color-blue-primary: #4195C4;
$color-yellow-primary: #F4D22A;
$color-red-primary: #D53A2C;
$color-green-primary: #80c483;
$color-white-primary: #FFFFFF;

$color-purple-secondary: #A9A7D3;
$color-yellow-secondary: #F4DD7D;
$color-green-secondary: #A6DDA9;
$color-peach-secondary: #FFDEC0;
$color-turquoise-secondary: #83D9DD;
$color-pink-secondary: #E4CDE8;
$color-red-secondary: #EF726C;
$color-orange-secondary: #F2A37C;
$color-blue-secondary: #92BCEF;

:root {
    --f-header-text-color: white;
    --f-header-background-color: #{$color-black};

    --f-default-text-color: white;
    

    --f-default-headers-font: "Hind";
    --f-default-headers-weight: 600;
    --f-h1-text-size: 32px;
    --f-h2-text-size: 26px;
    --f-h3-text-size: 22px;
    
    
    --f-primary-action-color: #{$color-purple-primary};
    --f-primary-action-anticolor: white;
    --f-primary-action-color--hover: #{$color-blue-primary};
    --f-primary-action-anticolor--hover: black;

    
    
    --f-links-text-color: #{$color-purple-primary};
    --f-links-text-hover-color: #{$color-yellow-primary};
    --f-links-text-visited-color: #{$color-blue-primary};
    --f-links-text-active-color: #{$color-yellow-primary};
    
    --f-forms-button-radius: 4px;



    // Application specific variables
    // some of them are pulled from flare but use
    // a different name to prevent an unnecessary 
    // dependency, i.e. KeplrUser badge, etc.
    --default-background-color: #{$color-black};
    --default-error-color: #{$color-red-primary};

    --gutter: var(--f-gutter);


    // Animation variables
    --animate-duration: 0.4s;
}

html {
    background-color: var(--default-background-color);
}

h3 {
    margin-top: var(--f-gutter-xl);
}

hr {
    margin: var(--f-gutter-xl) 0;
}

dd {
    font-weight: bold;
}

label {
    display: inline-block;
}

.--flare-columns {
    --f-columns-weight-ratio: 3;
}